@page "/edit-entry/{Id:guid}"
@using ApplicationDevelopment.Model
@using ApplicationDevelopment.Service
@inject NavigationManager NavManager

@if (_entry == null)
{
    <p>Entry not found.</p>
}
else
{
    <EditForm Model="_entry" OnValidSubmit="Update">
        <InputTextArea @bind-Value="_entry.Content" class="content-area" />
        <button class="btn btn-save mt-2">Update</button>
    </EditForm>
}
@code {
    [Parameter] public Guid Id { get; set; }
    private JournalEntry? _entry;

    protected override async Task OnInitializedAsync()
    {
        _entry = await JournalService.GetEntryByIdAsync(Id);
    }

    private async Task Update()
    {
        await JournalService.UpdateEntryAsync(_entry!);
        NavManager.NavigateTo("/history");
    }
}